@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf3dc;
  --foreground: #1a1a1a;
  --primary: #FED835;
  --secondary: #5c78ff;

  --primary-accent: #e5c230;
  --foreground-accent: #4a4a4a;
  --hero-background: #f8f9fa;
}

.dark {
  --background: #1a1a1a;
  --foreground: #e0e0e0;
  --primary: #FED835;
  --secondary: #5c78ff;

  --primary-accent: #e5c230;
  --foreground-accent: #b0b0b0;
  --hero-background: #252525;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}